parameters:
	level: 5
	paths:
		- src
		- tests
	parallel:
		jobSize: 20
		minimumNumberOfJobsPerProcess: 2
	excludePaths:
		analyse:
			- src/HomeLibrary/Infrastructure/Persistence/DbalShelfBooksCounter.php
